
.AnimalsImages{
  /* border: 2px solid; */
  text-align: center;
  width: 300px;
  height: 200px;
}
.wildAnimalsContainer{
  /* border: 2px solid; */
  display: inline-block;
  padding: 10px 15px 10px 15px;
  margin: 5px 70px 5px 10px;
}
.container:hover{
  border: 2px solid green;
}
.description{
  padding: 10px;
}
.details-button{

  margin-left: 35%;
  padding: 5px 50px 5px 50px;
  background-color: white;
  border: 2px solid red;
  font-size: 20px;
}
.details-button:hover{
  background-color: red;
  color: white;
}
.animalsName{
  text-align: center;
}
.container{
  margin: 10px;
  
    
    display: inline-block;
    padding: 25px;
    width: 20%;
    height: 20%;
}
.navbar{
  background-image: url("/public/navbarimage.jpg");
  display: flex;
  justify-content: center;
  background-color: orange;
  padding: 65px;
}
.navbar a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}
.navbar a:hover {
  background-color: red;
  color: white;
}